{% extends 'auth_layout.html' %}
{% load crispy_forms_tags %}

{% block auth %}
<h3>Create Your Callwatch Account</h3>
<div class="registration-form-container">
<form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
<button type="submit" class="btn btn-sm btn-outline-primary"> Create an Account</button>
   </form>
      <p class="mt-2" >Or <a href="{% url 'login' %}"> Sign in</a> </p>

   </div>

   {% endblock %}
